#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_build:
	gzip -n $(CURDIR)/fxlinuxprint.ppd

override_dh_autoreconf:
	dh_autoreconf --as-needed

override_dh_auto_clean:
	dh_auto_clean
	[ ! -f $(CURDIR)/fxlinuxprint.ppd.gz ] || gzip -d $(CURDIR)/fxlinuxprint.ppd.gz
